{{!-- creates the basic html for every page --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Beats</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    body {
      font-family: "Orbitron", sans-serif;
    }
    .top-bar,
    .status,
    .user-info,
    .login-form-container,
    .large,
    .menu,
    .actions {
      font-family: "Orbitron", sans-serif;
    }
  </style>
</head>
<body>
  <div class="container">
        <header>
      <div class="box top-bar">Blog Beats
        <img src="/images/Raccoon.png" alt="Logo">
      </div>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
            <!-- Add footer content here if needed -->
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>

