{{!-- Remove the loop over blogs to ensure no blogs are displayed --}}
{{!-- 
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      {{{get_emoji}}}
      <a href="/blog/{{blog.id}}">{{blog.name}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}
--}}

<!-- Add content you want to display on the homepage instead -->
<div class="welcome-message">
  <h1>Welcome to Blog Beats</h1>
  <p>Please log in to create and view blogs.</p>
</div>
