header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

img {
  position: relative;
  height: 10vh;
  left: 10vh;
  top: 3vh;
  mix-blend-mode: lighten;
}
body {
  font-family: "Orbitron", sans-serif;
  background-color: #000000;
  color: white;
  background-image: url(https://i.pinimg.com/originals/f9/36/77/f93677f81dc315371074d2db6116c594.gif),
    linear-gradient(#000000, #26640e);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}


img {
  border-radius: 4px;
 }
 
a:webkit-any-link {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: underline;
  height: auto;
  text-decoration-color: white;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  padding: 20px;
  height: 100vh;
}

.box {
  background: linear-gradient(to bottom, #232323, #8e8e8e);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  height: 150px; 
}

.top-bar {
  grid-column: span 3;
  background-image: url("/public/images/Raccoon.png");
  background-size: cover;
  background-position: center;
  font-size: xxx-large;
}


.top-bar img {
  mix-blend-mode: lighten;
  margin-right: 50%;
  width: 150px;
  height: auto; 
  background-image: rgba(255, 255, 255, 0.5);
}

.large {
  grid-column: span 3;
  height: 400px;
  background-color: white;
}


.orbitron-uniquifier {
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}
.large-textarea {
  width: 1000px;
  height: 500px;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
