header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

img {
  position: relative;
  height: 10vh;
  left: 10vh;
  top: 3vh;
  mix-blend-mode: lighten;
}
body {
  font-family: "Orbitron", sans-serif;
  background-color: #000000;
  color: white;
  background-image: url(https://i.pinimg.com/originals/f9/36/77/f93677f81dc315371074d2db6116c594.gif),
    linear-gradient(#000000, #26640e);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
a:webkit-any-link {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: underline;
  height: auto;
  text-decoration-color: white;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

main {
  position: relative;
  width: 37%;
  right: 33vh;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
